* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(223, 230, 232);
    /* background-color: rgb(66, 205, 205); */
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background: white;
    border-radius: 10px;
    border: 2px solid gray;  
    padding:  40px 20px; 
}
.login-container {
        display: flex;
        height: 100vh   ;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
}
.login-container input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.form_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
form input.btn {
    width: 20%;
}
.login-btn {
    display: flex;
    justify-content: end;
    width: 100%;
}
.error {
    background-color: #f2dede;
    color: #c04240;
    padding: 10px;
    width: 100% ;
    border-radius: 3px;
    margin-top: 5px;
}
.success {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    
}

.login-success {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    background-color: rgb(202, 235, 202);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 30%;
    height: 60px ;
    border-radius: 5px;
    border: 2px solid green;
    margin-right: 10px;
}
.success-img img {
    border: 3px solid green;
    border-radius: 50%;
}



