* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html  {
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.nav-header {
    padding: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.ul-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.ul-hdr :nth-child(5) {
    margin-bottom: 10px;
}
.logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    object-fit: cover;
}
.logo img {
    width: 100%;
    overflow: hidden;
}
.search-register {
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.ul-search {
    display: flex;
    align-items: center;
    justify-content: start;
}
.ul-hdr li {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul-hdr li:hover {
    background-color: #0d6efd;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.ul-p .ul-hdr li:hover a {
    color: white;
}



.btnSearch {
    max-height: 38px;
}
/* 

todo misho: add this to logo

    background-color: #031832;

*/


@media only screen and (min-width: 500px) {
    .center-ul {
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        flex-direction: column;
        overflow-y: hidden;
    }
    .search-register {
        display: flex;
        flex-direction: column;
        width: 90%;

    }
    
}


/* @media only screen and (min-width: 475px) {
    .nav {
        display: flex;
        flex-direction: column;
    }



} */