@media only screen and (max-width: 575px) {
    html {
        font-size: 1.3vw;
    }
    .container {
        width: 96%;
    }
    
    bottom {
        display: flex;
        flex-direction: row;
    }
    
}